@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "PressStart2P";
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
}

body {
  font-family: "PressStart2P";
}

.font-retro {
  font-family: "PressStart2P";
}

.glow-purple {
  text-shadow: 0 0 5px #6b46c1, 0 0 10px #6b46c1;
}

.glow-yellow {
  text-shadow: 0 0 5px #fef3c7, 0 0 10px #fef3c7;
}

.retro-shadow {
  box-shadow: 4px 4px 0px #4a1d96;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hover-effect:hover {
  animation: hover 1s infinite;
}

